<section>
  <h2>教育背景</h2>
  {%- for education in resume.education %}
    <section>
      <header>
        <h3>
          {{ education.institution }}
        </span>
        </h3>
        <span>
          {{ education.studyType }} {{ education.area }}
          {%- if education.focus -%}
          , <span class="focus">
            研究方向: {{ education.focus }}
          </span>
          {%- endif %}
        </span>
        <span class="date">
          {{ education.startDate }} &ndash; {{ education.endDate }}
        </span>
      </header>
    </section>

  {%- endfor %}
</section>
