<section>
  <h2>项目经历</h2>
  {%- for work in resume.work %}
    <section>
      {% if forloop.index != 1 -%}
        <hr class="solid" />
      {%- endif %}
      <header>
        <h3>{{ work.name }}</h3>
        <span>{{ work.position }}</span>
        <span class="date">
          {% if work.period -%}
            {{ work.period }}
          {%- else -%}
            {{ work.startDate }} &ndash;&nbsp;{{ work.endDate }}
          {%- endif %}
        </span>
      </header>
      <ul>
        {%- for highlight in work.highlights %}
          <li>
            {{ highlight }}
          </li>
        {%- endfor %}
      </ul>
      <hr />
      {%- for project in work.projects %}
        <header>
          <h3 class="normal">{{ project.name }}</h3>
          <span class="italic">{{ project.tech }}</span>
        </header>
        <ul>
          {%- for highlight in project.highlights %}
            <li>
              {{ highlight }}
            </li>
          {%- endfor %}
        </ul>
      {%- endfor %}
    </section>
  {%- endfor %}
</section>